body {
    display: flex;
    flex-direction: column;
}


.tri {
    display:flex;
    gap: 1em;
    width: 50%;
}

.select-tri{
    width: 20%;
}

.recette {
    display: flex; 
    padding: 1em;
    width: 100%;
}

.section{
    display: flex;
    justify-content: center;
}

.formulaire {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;
    border: 1px solid black;
    padding: 1em;
}

.input{
    width: 50%;
}

.select{
    width: 20%;
}

.textarea {
    height: 200px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 100px;
}

.btn-recette{
    display: flex;
    gap: 1em;
}


.btn-favoris{
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 100px;
}


#afficher-recette{
    display: flex;
    width: 100%;
    padding: 1em;
    gap: 1em;
}

.carte-recette {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid black;
    padding: 1em;
    margin-bottom: 1em;
    width: 50%;
}