* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

header{
    display: flex;
    width: 100%;
    background-color: rgb(185, 185, 185);
    position: fixed;
}

.nav{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    padding: 1em;
    margin-bottom: 1em;
}


.select-tri{
    width: 20%;
}

.recette {
    display: flex; 
    padding: 1em;
    width: 100%;
    margin-top: 5em;
}

.section{
    display: flex;
    justify-content: center;
}

.formulaire {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;
    border: 1px solid black;
    padding: 1em;
}

.input{
    width: 50%;
}

.select{
    width: 20%;
}

.textarea {
    height: 200px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 100px;
}

.btn-recette{
    display: flex;
    gap: 1em;
}


.btn-favoris{
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 100px;
}


#afficher-recette{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1em;
    gap: 1em;
}

.carte-recette {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid black;
    padding: 1em;
    margin-bottom: 1em;
    width: 100%;

}

/* Modifier le footer */

footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1em;
    margin-top: 3em;
    background-color: black;
    bottom: 0;
}

.li{
    display: flex; 
    color: white;
    gap: 5em;
    list-style-type: none;
}


